.transition {
  background-color: rgba(144, 135, 125, 0.9);
  height: 20px;
  width: 100%;
  display: block;
  margin: -40px auto 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.astronomy {
  z-index: -1;
  background-image: url("../../assets/astronomy.jpg");
  top: 0;
  position: fixed;
  height: 100%;
  left: 0px;
  right: 0px;
  text-align: center;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

@media (min-width: 1400px) {
  .astronomy {
    margin: 0 auto;
  }
}

.none {
  padding-bottom: 20px;
}

#home {
  padding-top: 30px;
}

.pictures {
  background-image: url("../../assets/mountains-mobile.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media (min-width: 800px) {
  .pictures {
    background-image: url("../../assets/mountains-desktop.jpg");
  }
}

.community {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.community h1 {
  color: white;
  text-align: center;
  font-size: 22px;
  animation-name: h1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  margin-left: 18px;
}

.community h2 {
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 5px 0;
  animation-name: h2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  margin-left: 18px;
}

@media (min-height: 500px) {
  .community {
    top: 50%;
    left: 30%;
  }
}

.image, .imagetwo {
  text-align: center;
  animation-name: imageAnimation;
  animation-duration: 3s;
}

.image__one:hover {
  height: 40px;
  transition: .4s ease-in-out;
  animation-duration: 3s;
  transition-duration: .4s;
}

.image__container {
  display: inline-block;
  width: 30px;
  margin: 0 15px;
}

.image__one {
  height: 30px;
  margin: 10px;
  text-align: center;
  animation-name: communityImageAnimation;
  transition-duration: .4s;
}

.imagetwo-image {
  height: 30px;
  margin: 30px auto;
  padding-left: 20px;
  text-align: center;
  animation-name: szerokosc;
  font-size: 30px;
  color: white;
  font-weight: 600;
  transition: 2s;
  cursor: pointer;
}

.response:before {
  box-sizing: border-box;
  padding: 50px;
  content: "";
  opacity: 0;
  translate: inherit;
  -webkit-transition: 1s;
  transition: 1s;
}

.response {
  margin-top: 15px;
  height: 20px;
}

.imagetwo-image:hover {
  transform: rotate(10deg);
  transition-duration: 0.5s;
}

.twopicture:hover ~ .response:before {
  opacity: 1;
  content: "mateusz.kapron24@gmail.com";
  font-size: 18px;
  color: white;
  font-weight: 700;
  margin-left: 60px;
  font-family: 'Roboto', sans-serif;
}

.onepicture:hover ~ .response:before {
  opacity: 1;
  content: "661-360-889";
  font-size: 16px;
  color: white;
  font-weight: 700;
  letter-spacing: 5px;
  font-family: 'Roboto', sans-serif;
}

@keyframes h1 {
  0% {
    color: black;
    transform: translate(-150%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, -50%);
    opacity: 1;
  }
}

@keyframes h2 {
  0% {
    color: black;
    transform: translate(150%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, -50%);
    opacity: 1;
  }
}

@keyframes communityImageAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 500px) {
  .community h1 {
    font-size: 28px;
  }
  .community h2 {
    font-size: 18px;
  }
  .image__one:hover {
    height: 50px;
  }
  .image__container {
    width: 40px;
    margin: 0 15px;
  }
  .image__one {
    height: 40px;
    margin: 10px;
  }
  .imagetwo-image {
    height: 40px;
    margin: 30px;
    font-size: 30px;
  }
  .twopicture:hover ~ .response:before {
    font-size: 25px;
  }
  .onepicture:hover ~ .response:before {
    font-size: 25px;
  }
}

@media (min-width: 850px) {
  .community h1 {
    font-size: 36px;
  }
  .community h2 {
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .image__one:hover {
    height: 60px;
  }
  .image__container {
    width: 50px;
    margin: 0 15px;
  }
  .image__one {
    height: 50px;
    margin: 10px;
  }
  .imagetwo-image {
    height: 50px;
    margin: 30px;
    font-size: 30px;
  }
  .twopicture:hover ~ .response:before {
    font-size: 28px;
  }
  .onepicture:hover ~ .response:before {
    font-size: 28px;
  }
}

@media (min-width: 1000px) {
  .community {
    left: 15%;
  }
}

@media (min-width: 1500px) {
  .community h1 {
    font-size: 40px;
  }
  .community h2 {
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
