
.about-my {
  background-color: var(--container);
  width: 100%;
  font-family:'Source Serif Pro', serif;
  color:black;
  padding-bottom: 30px;
  line-height: 32px;
  z-index: 0;

   &__hello {
    font-size: 30px;
    letter-spacing: 2px;
    padding: 20px 0px 0;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 10px;
    max-width: 700px;
    z-index: 0;
    color: #294d65;
    @media(min-width:993px){
      font-size: 35px;
      margin-bottom: 25px;
    }
    @media(min-width:1300px){
      font-size: 35px;
      margin-bottom: 40px;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 20%;
      height: 2px;
      background-color: #294d65;
      margin: 5px;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 20%;
      height: 2px;
      background-color: #294d65;
      margin: 5px;
    }

 

  }
  .about__description {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    letter-spacing: 1px;
    justify-content: center;
    .about__description-left {
      min-width: 250px;
      margin-bottom: 20px;
      color: #294d65;
      font-size: 16px;
      max-width: 650px;
    }
    .about__description-right {
      min-width: 250px;
      font-size: 14px;
      color: #294d65;
      max-width: 650px;
      
      :nth-child(2){
        margin-top: 10px;
        text-align: center;
      }
    }
    @media(min-width:600px) {
      padding: 20px 30px;
      .about__description-left {
        font-size: 18px;
      }
      .about__description-right {
        font-size: 16px;
      }
    }
    @media(min-width:993px){
      flex-wrap: nowrap;
  
      .about__description-left {
        font-size: 20px;
        margin: 0 30px;
        font-size: 22px;
     
      }
      .about__description-right {
        font-size: 18px;
        margin: 0 30px;
        color: black;
      }
    }
    @media(min-width:1300px){
      text-align: left;
      letter-spacing: 2px;
      .about__description-left {
        font-size: 28px;
        margin: 0 30px;
        line-height: 40px;
        
      }
      .about__description-right {
        font-size: 20px;
        margin: 0 30px;
        color: black;
        line-height: 35px;
      }
    }
   
  }
 
}







.cv {
  text-decoration: none;
  position: relative;
  button {
    position: relative;
    display: block;
    color: black;
    font-family: bold;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #294d65;
    width: 120px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 20px auto 10px;
    transition: .4s ease-in-out;
    overflow: hidden;
  }

  button::before{
    position: absolute;
    top: 0;
    left: -30px;
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background-color: black;
    transform: translate(-10px, -20px);
    transition: .9s ease-in-out;
  }

  button::after{
    display: block;
    position: absolute;
    top: -20px;
    left: -30px;
    width: 1px;
    height: 70px;
    background-color: black;
    content: '';
    transition: .7s ease-in-out;
  }

  button:hover::before {
    transform:translate(-10px,50px);
  }
  button:hover::after {
    transform:translate(200px,0px);
  }


  button:hover {
      background-color: #294d65;
      border: 2px solid #294d65;
  }
}



// @media( min-width: 500px) {
//   .about-my {
//     &__hello {
//       font-size: 30px;
//     }
//   }
//   .about {
//     h2 {
//       font-size: 30px;
//     }
//   }
// }


// @media(min-width:1350px) {
//   .about-my {
//     &__hello {
//       font-size: 28px;
//     }
//   }
//   .about {
//     h2 {
//       font-size: 26px;
//     }
//     div {
//       font-size: 22px;
//     }
//     .about__img {
//       width: 70px;
//     }
//     .about__img:hover {
//       width: 80px;
//     }
//   }
// }
