  $color: #2980b9;
  $color-hover: #0b2a3d;
  
  .transition {
    background-color: rgba(144, 135, 125,0.9);
    height: 20px;
    width: 100%;
    display: block;
    margin: -40px auto 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }


  .astronomy {
    z-index: -1;
    background-image: url('../../assets/home/astronomy.jpg');
    top: 0;
    position: fixed;
    height: 100%;
    left: 0px;
    right: 0px;
    text-align: center;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    filter: brightness(0.6);
    @media(min-width: 1400px) {
      margin: 0 auto;
    }
  }
  .none {
    padding-bottom: 20px;
  }
    .pictures { 
      filter: brightness(0.5);
      background-image: url("../../assets/home/new.jpg");
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }

    @media(min-width: 800px) {
      .pictures { 
      background-image: url("../../assets/home/new.jpg");
    }
  }
  

  .scrolldown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
                    
    z-index:99;
    transform: translate(-50%);
    border-radius: 50%;
    background-color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s ease-in-out;
    
    i {
      text-align: center;
      font-size: 20px;
    }
    @media(min-width: 1000px){
      width: 50px;
      height: 50px;
      i {
        font-size: 30px;
      }
    }
  }
  .scrolldown:hover {
      background-color: $color-hover;
  }
  

  .community {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-30%, -30%);
    min-width: 230px;
    h1 {
       
        width: 100%;
        min-width: 260px;
        color: white;
        text-align: center;
        font-size: 30px;
        animation-name: h1;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        margin-left: 18px;
        line-height: 20px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        text-shadow: 3px 1px 1px rgba(0,8,15,.5);
        span {
          color: $color;
        }
    }
    h2 {
      text-shadow: 2px 1px 1px rgba(0,8,15,.5);
      padding-top: 25px;
      min-width: 230px;
      color: white;
        text-align: center;
        font-size: 18px;
        margin: 20px 0 5px;
        line-height: 25px;
        animation-name: h2;
        animation-duration: 3s;
        letter-spacing: 1px;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        margin-left: 18px;
        .color {
          color: $color;
        }
        .display {
          display: block;
          @media(min-width:800px){
            display: inline-block;
          }
        }
    }
    @media(min-height: 500px) {
      top: 50%;
      left: 30%;
    }
  }
  .image {
    padding-top: 10px;
  }
  .image, .imagetwo  { 
    text-align: center;
    animation-name: imageAnimation;
    animation-duration: 3s;
  }
  
  .image__one:hover {
    height: 40px;
    transition: .4s ease-in-out;
    animation-duration: 3s;
    transition-duration: .4s;
  }
  .image__container {
    display: inline-block;
    width:30px;
    margin: 0 15px;
    


    i {
      width: 30px;
      height: 30px;
      font-size: 30px;
      color: $color;
      transition: 0.4s ease-in-out;
    }
    i:hover {
      color: $color-hover;
    }


  }
  .image__one {
    height: 30px;
    margin: 10px;
    text-align: center;
    animation-name: communityImageAnimation;
    transition-duration: .4s;
  }

  
  .imagetwo-image {
    height: 30px;
    margin: 30px 10px;
    padding-left: 20px;
    text-align: center;
    animation-name: szerokosc;
    font-size: 30px;
    color: $color;
    font-weight: 600;
    transition: 2s;
    cursor: pointer;
  }
   .imagetwo-image:hover {
    // transform: rotate(10deg);
    color: $color-hover;
    transition-duration: 0.5s;
   
  }


  @keyframes h1 {
    0% {
      color: black;
      transform: translate(-150%, -50%);
      opacity: 0;
    }
    100% {
      transform: translate(0%, -50%);
      opacity: 1;
    }
  }
  

  @keyframes h2 {
    0% {
      color: black;
      transform: translate(150%, -50%);
      opacity: 0;
    }
    100% {
    transform: translate(0%, -50%);
      opacity: 1;
    }
  }

  @keyframes communityImageAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


@media(min-width: 500px) {
  .community {
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 22px;
        line-height: 30px;
        
    }
  }

  .image__one:hover {
    height: 50px;
  }
  .image__container {
    width:40px;
    margin: 0 15px;
  }
  .image__one {
    height: 40px;
    margin: 10px;
  }
  .imagetwo-image {
    height: 40px;
    font-size: 30px;
  }

  .twopicture:hover ~ .response:before {
    font-size: 25px;
  }
  .onepicture:hover ~ .response:before {
    font-size: 25px;
  }
}

@media(min-width: 850px) {
  .image__container {
    i {
      width:40px;
      height: 40px;
      font-size: 40px;
    }
  }
  .imagetwo {
    i {
      width:40px;
      height: 40px;
      font-size: 40px;
      margin-left: 0 20px;
      padding-left: 0px;
    }

  }
  .community {
    h1 {
        font-size: 40px;
        letter-spacing: 2px;
    }
    h2 {
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 15px;
        letter-spacing: 2px;
    }
  }
  .image__one:hover {
    height: 60px;
  }
  .image__container {
    width:50px;
    margin: 0 15px;
  }
  .image__one {
    height: 50px;
    margin: 10px;
  }
  .imagetwo-image {
    height: 50px;
    margin: 30px;
    font-size: 30px;
  }
  .twopicture:hover ~ .response:before {
    font-size: 28px;
  }
  .onepicture:hover ~ .response:before {
    font-size: 28px;
  }
}
@media(min-width:1000px) {
  .community {
    left:25%;
  }
  .image__container {
    margin: 0 25px;
    i {
      width:50px;
      height: 50px;
      font-size: 50px;
    }
  }
  .imagetwo {
    margin: 0 25px;
    margin-top: 15px;
    i {
      width:50px;
      height: 50px;
     
      font-size: 50px;
      margin-left: 0 20px;
      padding-left: 0px;
    }

  }
  
}


@media(min-width:1500px) {
  .community {
    left:20%;
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
  }
}

@media (min-width: 100px) and (orientation: landscape) {
  .community {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-30%, -30%);
    min-width: 230px;
    h1 {
        font-size: 26px;
    }
    h2 {
      padding-top: 0px;
        font-size: 18px;
        margin: 10px 0 5px;
        line-height: 25px;
        animation-name: h2;
        animation-duration: 3s;
        letter-spacing: 1px;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        margin-left: 18px;

    }
  }
}
@media (min-width: 850px) and (orientation: landscape) {
  .community {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-30%, -30%);
    min-width: 230px;
    h1 {
        font-size: 32px;
    }
    h2 {
      padding-top: 0px;
        font-size: 22px;
        margin: 10px 0 5px;
        line-height: 25px;
        animation-name: h2;
        animation-duration: 3s;
        letter-spacing: 1px;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        margin-left: 18px;

    }
  }
  .image, .imagetwo {
    i {
      font-size: 38px;
    }
  }

}

@media (min-width: 1400px) and (orientation: landscape) {
  .community {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-30%, -30%);
    min-width: 230px;
    h1 {
        font-size: 45px;
    }
    h2 {
      padding-top: 20px;
        font-size: 30px;
        margin: 10px 0 5px;
        line-height: 35px;
        animation-name: h2;
        animation-duration: 3s;
        letter-spacing: 1px;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        margin-left: 18px;

    }
  }
  .image, .imagetwo {
    i {
      font-size: 42px;
    }
  }

}

