* {
    box-sizing: border-box;
}

.nav.active {
    background: transparent;

}

.nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background:  rgba(41, 77, 101, 10);
    width: 100%;
    height: 40px;
    z-index: 9999;
    font-family: 'Roboto', sans-serif;
    transition: .5s ease-in-out;
  
    @media(min-width: 1500px) {
        height: 50px;
    }

    .home-m {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 40px;
        margin-left: 5px;
        font-family: 'Dancing Script', cursive;
        z-index: 999;
    }
  // font-family: 'Chilanka', cursive;
// font-family: 'Dancing Script', cursive;

// font-family: 'Hind Siliguri', sans-serif;

// font-family: 'Open Sans Condensed', sans-serif;

// font-family: 'Peddana', serif;

// font-family: 'Roboto', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
    button {
        border: none;
        background-color: transparent;
        height: 30px;
        width:30px;
        margin-left: 25px;
        outline: transparent;
        z-index: 9999;
        position: relative;
    }

    .nav-img {
        z-index: 999;
        width: 30px;
        height: 30px;
        cursor: pointer;
        @media(min-width: 1500px) {
            width: 50px;
            height: 40px;
        }
    }
}

.menu {
    position: absolute;
    width: 30px;
    top: 7px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
    @media(min-width: 1500px) {
        width:40px;
    }
}
.menu-s {
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 70px;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    z-index: 999;
    @media(min-width: 290px){
        display: block;
    }
    @media(min-width: 1500px){
        right: 80px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
        
    }
}





.navbar {
    display: none;
    float: right;
    list-style-type: none;
    margin: 10px 80px 10px 30px;
    flex-wrap: wrap;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  
    li {
        font-size: 14px;
        margin-left: 15px;
        a {
            text-decoration: none;
            color: white;
            transition-duration: 1s;
        }
        a:hover {
            color: cyan;
            font-size: 16px;
            border-bottom: 1px solid cyan;
          }
    }
    @media(min-width: 700px){
        display: flex;
    }
    @media(min-width: 1500px) {
        margin: 10px 120px 10px 30px;
    }
}


.box {
    position: fixed;
    top:0px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 77, 101, 0.918);
    background: linear-gradient(rgba(41, 77, 101, 10), rgba(41, 77, 101, 0.877) );
    transform: translateY(-100%);
    transition: .7s ease-in-out;
    z-index: auto;
    overflow: hidden;
    @media(min-width: 1500px) {
        top: 50px;
    }
}
.box.trans {
    transform: translateY(0%);
    
}

.box {
    .box-contact-github {
        position: fixed;
        top: 20%; 
        left: 50%;
        font-size: 40px;
        transform: translate(-50%, -70%);
        outline: none;
        a {
            color:   rgb(217, 217, 223);
            transition: .5s;
            &:hover {
                color: white;
            }
        }
    }
    .box-contact-phone {
        display: none;
        position: fixed;
        font-size: 30px;
        transform: translate(-50%, -70%);
        a {
            color:  rgb(217, 217, 223);
            transition: .5s;
            &:hover {
                color: white;
            }
        }
    }
    @media(min-width: 900px) {
        .box-contact-github {
            top: 50%; 
            left: 20%;
            font-size: 50px;
            transform: translate(-50%, -50%);
        }
        .box-contact-phone {
            display: block;
            position: fixed;
            top: 50%; 
            left: 80%;
            font-size: 50px;
            transform: translate(-50%, -50%);
        }
    }
    @media(min-width: 1200px) {
        .box-contact-github {
            left: 25%;
        }
        .box-contact-phone {
            left: 75%;
        }
    }
    @media(min-width: 1600px) {
        .box-contact-github {
            font-size: 60px;
            left: 30%;
        }
        .box-contact-phone {
            font-size: 60px;
            left: 70%;
        }
    }
    .line {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 220px;
        height: 220px;
        transform:  translate(-50%,-50%) rotate(-45deg);
        // overflow: hidden;
        background-color: transparent;
        @media(min-width: 550px) {
            width: 250px;
            height: 250px;
        }
        @media(min-width: 900px) {
            width: 300px;
            height: 300px;
        }
        @media(min-width: 1200px) {
            width: 350px;
            height: 350px;
        }
     
        .line-x {
            position: absolute;
            top: 0px;
            left:0;
            width: 0%; //
            height: 2px;
            background-color: rgb(217, 217, 223);
            transition: 2s ease-in-out;
            transition-delay: .3s;
        //    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
        }
        .line-y {
            position: absolute;
            left:0;
            top: 0;
            width: 2px;
            height: 0%; //
            background-color: rgb(217, 217, 223);
            transition: 2s ease-in-out;
            transition-delay: .3s;
        }
        .line-z {
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 0%; //
            background-color: rgb(217, 217, 223);
            transition: 2s ease-in-out;
            transition-delay: .3s;
        }
        .line-l {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0%; //
            height: 2px;
            background-color: rgb(217, 217, 223);
            transition: 2s ease-in-out;
            transition-delay: .3s;
        }
    }
}
.box.trans {
        .line-x {
            width:100%;
        }
        .line-y {
            height:100%;
        }
        .line-z {
            height:100%;
        }
        .line-l {
            width:100%;
        }
}



.navbar-box {
    position: fixed;
    top:45%;
    left:50%;
    width: 200px;
    height: 200px;
    transform:  translate(-50%,-50%) rotate(0deg);
    text-align: center;
    padding: 20px 15px 30px;
    color:rgb(206, 206, 206);
    letter-spacing: 2px;
    z-index: 99;

    li {
        list-style-type: none;
        margin-top: 20px;
        padding-bottom: 2px;
        text-decoration: none;
        color: rgb(206, 206, 206);
        text-transform: uppercase;
        cursor: pointer;
    }
    :hover {
        transition: 0.3s ease-in-out;
        color:white;
        text-decoration: underline;
    }
  
}
.box-description {
    padding: 20px;
    text-align: center;
    padding-top: 30px;
    font-size: 12px;
    color:rgb(206, 206, 206);
    line-height: 20px;
    letter-spacing: 2px;
    transition: 0.5s ease-in-out;
}
.box-description :hover{
    color:white;
}

.box-link {
    width: 100%;
    display: block;
    text-align: center;
    a {
        color:rgb(206, 206, 206);
        margin: 0 5px;
        .fa-resolving {
            font-size: 25px;
            margin: 0 10px;
            color: rgb(206, 206, 206);
            transition: 0.5s ease-in-out;
           

        
        }
        :hover{
            color:white;
        }
    }
   
}
.box-contact {
    padding-top: 30px;
    text-align: center;
    a {
        display: block;
        color: rgb(206, 206, 206);
        font-size: 14px;
        margin-bottom: 20px;
        transition: .3s ease-in-out;
    }
    :hover {
        color: white;
    }
}
.homes {
    padding-top: 5px;
    font-size: 30px;
    width: 50px;
    height: 0px;
    padding-left: 10px;
    color: white;
    display: inline-block;
}

    @media(max-height: 600px) {
        .navbar-box {
            font-size: 14px;
            padding: 5px;
            overflow: hidden;
            border: none;
        }
        .box-description {
            display: none;
        }
        .box-link {
            display: none;
        }
        .box-contact {
            display: none;
        }
       
    }

@media(min-width: 900px) {
    .box {
        top:0;
        width: 100%;
    }
    .navbar-box {
        font-size: 18px;
    }
    .box-description {
        font-size: 16px;
        width: 300px;
        margin: 20px auto;
        line-height: 30px;
    }
    .box-link a .fab {
        font-size: 30px;
        margin: 0 10px;
    }
    .box-contact {
        padding-top: 40px;
        a {
           
            font-size: 18px;
        }
    }
 
}


    
@media(min-width: 850px) {
    .navbar {
      letter-spacing: 2px;
      li {
          font-size: 16px;
          margin-left: 25px;
          a:hover {
              font-size: 20px;
            }
      }
    }
}

    @media(min-width:1500px) {
        .navbar {
          letter-spacing: 3px;
          li {
              font-size: 20px;
              margin-left: 25px;
              a:hover {
                  font-size: 22px;
                }
          }
        }
        .fa-resolving {
            font-size: 35px;
      }
    }
      
      