$container: #f5f5f5;

:root {
    --container: #f5f5f5;
    --primaryColor: #af9a7d;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  }

  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Lato:ital,wght@0,700;1,300;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hind+Siliguri:wght@300;700&family=Open+Sans+Condensed:wght@200;300;400;700&family=Peddana&family=Roboto:wght@300;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,900&display=swap');

  // font-family: 'Chilanka', cursive;
// font-family: 'Dancing Script', cursive;

// font-family: 'Hind Siliguri', sans-serif;

// font-family: 'Open Sans Condensed', sans-serif;

// font-family: 'Peddana', serif;

// font-family: 'Roboto', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
//font-family: 'Source Serif Pro', serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Source Serif Pro', serif;
    
}

/* font-family: 'Kumbh Sans', sans-serif;
font-family: 'Lato', sans-serif; */